/* Nullify margins, paddings */
h3, p {
    margin: 0px;
}


html {
    font-size: 24px;
    background-color: #11111b;
    color: #cdd6f4
}

a:link {
  color: #f5c2e7;
}

a:visited {
  color: #cba6f7;
}

::selection {
  color: #11111b;
  background: #f5c2e7;
}

body {
    font-family: monospace;
    font-weight: 400;
    transition: all 5s;
}

.main {
    margin: 50px;
    padding: 50px;
    overflow: hidden;
    background-color: #1e1e2e
}

.header {
    margin: 50px;
    padding: 50px;
    overflow: hidden;
    background-color: #1e1e2e
}

/* Mobile changes */
@media (max-width : 768px) {
  html, body {
    font-size: 12px;
    margin: 25px
    }
}
