/* Nullify margins, paddings */
h3, p {
    margin: 1px;
}


/* Set rem font size */
html {
    font-size: 24px;
    background-color: #11111b;
    color: #cdd6f4
}


body {
    font-family: monospace;
    font-weight: 400;
    transition: all 5s;
}

.main {
    margin: 50px;
    padding: 50px;
    overflow: hidden;
    background-color: #1e1e2e
}

.header {
    margin: 50px;
    padding: 50px;
    overflow: hidden;
    background-color: #1e1e2e
}

